button {
  padding: 2px 8px;
  width:64px;
  height: 100%;
  margin-left: 1rem;
  color: white;
  background-color: rgba(117, 255, 145, 0.32);
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  background-color: rgba(224, 224, 215, 0.48);
  color: black;
}

.primary {
  border: 1px rgba(55, 200, 78, 0.45) solid;
  box-shadow: 0 5px 15px 0 rgba(117, 255, 145, 0.32);
  border-radius: 0px;
}
