.todo_input_container {
  font-family: 'Space Mono', monospace;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width:  100%;
}

.todo_input_container .btn_add {
  margin-left: 10px;
  height: fit-content;
}

.todo_input {
  background-color: #121212;
  border: 1px rgba(255, 255, 241, 0.44) solid;
  box-shadow: 0 5px 15px 0 rgba(255, 255, 241, 0.44);
  border-radius: 0px;
  padding: 6px 10px;
  margin: 0 auto;
  height: 48px;
  width: 100vh;
}


