
.container {
  font-family: 'Space Mono', monospace;
  display: flex;
  justify-content: center;
  width:  100%;
}

.todos_container {
  margin-top: 2rem;
  padding: 12px 12px 12px 12px;
  font-size: 1.2rem;
  flex-direction: column;
  justify-content : center;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 1.35rem;
  font-weight: bold;
}


/**
 * Responsive
 * 
 *
 */

@media screen

