.btn-touch {
  background-color: #F47522;
}

.content {
  color: #19345E;
}

a {
  color: #19345E;
}
a:hover {
  color: #F47522;
}

footer {
  background-color: #19345E;
}

.bg-primary {
  background-color: #19345E;
}